## time!
time is a hard thing to fully understand to begin with, a lot of really smart people have come up with a bunch of different ways of tracking time.

lets take a look at the datetime object in python

In [1]:
import datetime
date1 = datetime.date(2017,6,30)
date2 = datetime.date(2017,8,5)

date_time1 = datetime.datetime(2017,6,30,8,4,1)
date_time2 = datetime.datetime(2017,6,30,8,4,1)

it is important to notice that the datetime library includes a time object a date object and a datetime object. the key difference being that the datetime object contains data about a time of day in addition to data about a given date, while the date object only has data about the date not the time, and the time object only cares about the time of day. there will be times when you want to use one over another. 

sometimes you will see import written to only import one of these objects as opposed to the entire datetime class.
```python
    from datetime import datetime
    from datetime import date
    from datetime import time 
```
doing the imports this way makes it so we don't have to do this
```python
    datetime.datetime(2017,6,30,8,4,1)
    datetime.date(2017,6,30)   
    datetime.time(8,4,1)
```
instead we can write
```python
    date(2017,6,30)
    datetime(2017,6,30,8,4,1)
    time(8,4,1)
```
I personaly really think it is easier to write `date` instead of `datetime.date` so that is what i will use for the rest of this workbook

In [2]:
from datetime import datetime
from datetime import date
from datetime import time 
import datetime as dt

one really cool thing we can do is get the difference of two datetimes. when we do subtraction on datetime objects we get a new type of object returned called a timedelta

In [3]:
datetime(2017,6,30,8,4,1) - datetime(2018,6,30,8,4,1)

datetime.timedelta(days=-365)

the the datetime libary gives us a handful of useful functions

In [4]:
print(datetime.now())
print(datetime.utcnow())
today = datetime.now()

print(today.weekday(),today.isoweekday())

2019-09-17 09:49:06.342970
2019-09-17 13:49:06.343075
1 2

In [5]:
today.ctime()

'Tue Sep 17 09:49:06 2019'

In [6]:
today.isoformat()

'2019-09-17T09:49:06.343123'

sometimes we want to turn our date back into a string but our end users will not understand the fromating given by `.ctime()` or `.isoformat()`. this is where the  `.strftime()` can be useful. it will allow us to print our dates in whatever style we want. I will show some examples but for a complete list check out the 

the `.strftime()` function take a string as an argument. the string can be anything you want to display. for example if you had 

```python
    today.strftime('today is %A the %d day of %B')
```
>today is Saturday the 14 day of September

notice how %A is replaced with the full day name and %d is replaced with the day number and %B the full month name. there are many more options we can use for a full like check out the [docs](https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior) here

In [12]:
print(today)
print(today.strftime('today is %A the %d day of %B'))
print(today.strftime('%Y-%m-%d %I:%M:%S%p'))
print(today.strftime('it is the %H hour'))

2019-09-17 09:49:06.343123
today is Tuesday the 17 day of September
2019-09-17 09:49:06AM
it is the 09 hour

what if we had a dataset

In [29]:
import pandas as pd
data = ['23/03/19','21/01/18','05/05/17']
weird_data = ['03/08/10','04/09/17','04/10/19']
d=pd.DataFrame({'date':data, 'other_dates':weird_data})
d['another_date_col'] = pd.to_datetime(d['other_dates'])
d['date'] = pd.to_datetime( d['date'])
d.dtypes
d

        date other_dates another_date_col
0 2019-03-23    03/08/10       2010-03-08
1 2018-01-21    04/09/17       2017-04-09
2 2017-05-05    04/10/19       2019-04-10

In [30]:
good_dates = [datetime.strptime(date_str, '%d/%m/%y') for date_str in weird_data]
d['good_dates']= good_dates
d

        date other_dates another_date_col good_dates
0 2019-03-23    03/08/10       2010-03-08 2010-08-03
1 2018-01-21    04/09/17       2017-04-09 2017-09-04
2 2017-05-05    04/10/19       2019-04-10 2019-10-04

one of the tricky things about dates is that they come in many different formats. to deal with this a common strategy is to use something called UNIX Epoch time. this system works by counting the number of seconds since January first 1970.

In [24]:
print(today.timestamp())
print(today.replace(tzinfo=dt.timezone.utc).timestamp())

1568728146.343123
1568713746.343123

In [35]:
(today.timestamp()-today.replace(tzinfo=dt.timezone.utc).timestamp())/60/60

4.0

In [38]:
# years since 1970
today.timestamp()/60/60/24/365

49.74404319961704